*{
	margin: 0px;
}
body{
	background-color: #0a0808;
}
.navbar{
	background-color: transparent;
	
}
.navbar ul{
	overflow: auto;
	margin-left: -32px;
	padding-left: -5px;
}
.navbar li{
	float: left;
	list-style: none;
	margin: 26px 12px;
}
.navbar li a{
	text-decoration: none;
	font-family: cursive;
	/* font-style: oblique; */
	font-weight: bold;
	font-size: 20px;
	color: white;
	cursor: pointer;
	/*this is to add hovering effect on navbar elements*/
	position: relative;
}

.navbar li a:before{
	content: '';
	position: absolute;
	bottom: -2px;
	height: 2px;
	width: 0;
	background: #4070f4;
	border-radius: 50px;
	transition: width 0.3s ease;
}
.navbar li a:hover:before{
	width: 100%;
}
.navbar li a:hover{
	color: coral;
}
hr{
	border:1px solid rgba(255, 255, 255, 0.18) ;
}

.logo{
	float: left;
	padding: 6px 14px;
	margin-right: 306px;
}
.logo img{
	width: 100px;
	height: 65px;
}

.cart button{
	float: right;
	padding: 38px 23px;
	padding-right: 32px;
	background-image: url(C:/Users/Asus/OneDrive/Desktop/Ketan_CSS/img/cart.png);
	background-size: contain;
	height: 53px;
	background-repeat: no-repeat;
	padding-top: 18px;
	margin: 16px 370px;
	border: none;
	padding-bottom: 0px;
	background-color: transparent;
	position: absolute;
	transition: all 0.2s ease;
	cursor: pointer;
	border-radius: 2px;
}
.cart button:active{
	transform: scale(1.2);
}


.search button{
	float: right;
	padding: 77px 50px;
	padding-right: 8px;
	background-image: url(C:/Users/Asus/OneDrive/Desktop/Ketan_CSS/img/search.png);
	background-size: contain;
	height: -20px;
	background-repeat: no-repeat;
	padding-top: 125px;
	margin: 16px 303px;
	border: none;
	/* padding-bottom: 144px; */
	background-color: transparent;
	position: absolute;
	transition: all 0.2s ease;
	cursor: pointer;
	border-radius: 2px;
}
.search button:active{
	transform: scale(1.1);
}


h1{
	text-align: center;
	font-size: 60px;
	color: #7d511ad6;
	padding: 18px 0px;
	font-weight: bolder;
}
span{
	color: white;
}
.con1,.con2,.con3{
	height: 561px;
	width: 343px;
	border-radius: 7px;
	border:1px solid rgba(255, 255, 255, 0.18) ;
	background-color: transparent;
}
.con1{
	margin: 29px 211px;
	
}
.con2{
	margin: -589px 569px;
	
}
.con3{
	margin: 28px 925px;
	
}
.container img{
	height: 263px;
	width: 228px;
	margin: 54px 62px;
	border-radius: 5px;
}
.container h1{
	font-size: 35px;
	margin: -58px 0px;
	margin-left: 16px;
	color: white;
}
.container h2{
	font-size: 34px;
	margin: -62px -3px;
	margin-left: 122px;
	color: white;
}
.checked{
	color: orange;
}
.fa{
	margin: 56px 0px;
	padding-left: 1px;
	transform: translate(98px, -9px);
	font-size: 8px;
}
.container button{
	background-color: #7d511ad6;
	margin: 83px 85px;
	font-size: 21px;
	border-radius: 6px;
	border: none;
	color: white;
	padding: 11px 18px;
	height: 45px;
	width: 161px;
	transition: all 0.2s ease;
	cursor: pointer;
}
.container button:active{
	transform: scale(0.96);

}